/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Stark GTK theme.
*
* The Stark GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Stark GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Stark GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/**********
 * Colors *
 **********/

/* Base colors */
@define-color base #fff; /* Base color */
@define-color background #fff; /* Background color */
@define-color foreground #555; /* Foreground color */
@define-color border #D6B4E2; /* Borders color */
@define-color separator @border; /* Separator color */
@define-color menu_separator alpha(black, 0.1); /* Separator color */
@define-color text #777; /* Text color */
@define-color panel #444; /* Panel color */
@define-color selection #D6B4E2; /* Selection color */
@define-color selected_border shade(@selection, 0.8); /* Selection Border */
@define-color gradient_a @background; /* Gradient color A */
@define-color gradient_b shade(@gradient_a, 0.95); /* Gradient color B */
@define-color view_background #f3f3f3; /* View background */
@define-color inactive_frame @border; /* Inactive frame color */
@define-color panel_text #f7f7f7; /* Panel text color */
@define-color panel_text_shadow alpha(black, 0.2); /* Panel text color */
@define-color text_shadow alpha(white, 0.2); /* Text shadow */
@define-color icon_shadow @text_shadow; /* Icon shadow */
@define-color titlebar shade(@background, 0.95); /* Titlebar */


/***********
 * Imports *
 ***********/

/* Import Main CSS */
@import url("gtk-widgets-assets.css");
@import url("gtk-fallback.css");
@import url("gtk-widgets.css");
@import url("gtk-common.css");