/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Stark GTK theme.
*
* The Stark GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Stark GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Stark GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    padding: 0 0 1px 0;
}

GtkProgressBar.progressbar {
    border-radius: 20px;
    background-color: @selection;

}

GtkProgressBar.trough {
    background-color: @background;
}


.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focus {
    border-radius: 20px;
    background-color: @selection;
}

.progressbar row:insensitive,
.progressbar row:hover:insensitive,
.progressbar row:selected:insensitive,
.progressbar row:selected:focus:insensitive,
.progressbar.vertical row:insensitive,
.progressbar.vertical row:hover:insensitive,
.progressbar.vertical row:selected:insensitive,
.progressbar.vertical row:selected:focus:insensitive {
    border-radius: 20px;
    background-image: linear-gradient(to bottom,
                                      @insensitive_progressbar_background_a,
                                      @insensitive_progressbar_background_b
                                      );
}


.progressbar row:backdrop,
.progressbar row:hover:backdrop,
.progressbar row:selected:backdrop,
.progressbar row:selected:focus:backdrop,
.progressbar.vertical row:backdrop,
.progressbar.vertical row:hover:backdrop,
.progressbar.vertical row:selected:backdrop,
.progressbar.vertical row:selected:focus:backdrop {
    background-image: linear-gradient(to bottom,
                                      @backdrop_progressbar_background_a,
                                      @backdrop_progressbar_background_b
                                      );
}


/***********
 * Troughs *
 ***********/
.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    border-radius: 20px;
    background-color: @base;
    border: 1px solid @selection;
}

.trough.vertical row,
.trough.vertical row:selected,
.trough.vertical row:selected:focus {
    background-color: @base;
}

.trough:insensitive,
.trough.vertical:insensitive {
    border-radius: 20px;
    background-color: @insensitive_base;
}

.trough:backdrop,
.trough.vertical:backdrop {
    border-radius: 20px;
    background-color: @backdrop_background;
}
