/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Stark GTK theme .
*
* The Stark GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Stark GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Stark GTK theme . If not, see http://www.gnu.org/licenses/.
*/


/* Set up shadows and hilights for button visual separation */
.linked .entry {
    border-radius: 6px;
    box-shadow: none;
}

.linked .entry:focus {
    box-shadow: none;

}

.linked .entry:focus:first-child {
    box-shadow: none;

}

.linked .entry:focus:last-child {
    box-shadow: none;

}

.linked .button,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton > .button {
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid @selection;
}

.linked .button:first-child,
.toolbar .button.raised.linked:first-child,
.toolbar .raised.linked .button:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button {
    box-shadow: none;
    border: 1px solid @selection;
}

.linked .button:last-child,
.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button {
    box-shadow: none;
    border: 1px solid @selection;
}

.linked .button:active,
.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active {
    color: white;
    background:@selection;
    box-shadow: none;
    border: 1px solid @selection;
}

.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive {
    color: @insensitive_text;
    box-shadow: none;
    border: 1px solid @insensitive_border;
}

.linked .button:backdrop,
.toolbar .button.raised.linked:backdrop,
.toolbar .raised.linked .button:backdrop,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop {
    color: @backdrop_text;
    box-shadow: none;
    border: 1px solid @backdrop_border;
}

.linked .button:insensitive:backdrop,
.toolbar .button.raised.linked:insensitive:backdrop,
.toolbar .raised.linked .button:insensitive:backdrop,
.inline-toolbar.toolbar .button:insensitive:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive:backdrop {
    box-shadow: none;
    border: @backdrop_border;
}

/* Middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive {
    border: 1px solid @border;
    border-width: 1px 0 1px 0;
    border-radius: 0;
}

/* Leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child {
    border-radius: 6px;
    border-width: 1px 0 1px 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child {
    border-radius: 6px;
    border-width: 1px 1px 1px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 6px;
    border: 1px solid @border;
}

/* Middle button (vertical) */
.linked.vertical .entry,
.linked.vertical .button,
.linked.vertical .button:active,
.linked.vertical .button:active:hover,
.linked.vertical .button:insensitive {
    border-width: 0 1px;
    border-radius: 0;
}

/* Top button (vertical) */
.linked.vertical .entry:first-child,
.linked.vertical .button:first-child,
.linked.vertical .button:active:first-child,
.linked.vertical .button:active:hover:first-child,
.linked.vertical .button:insensitive:first-child {
    border-width: 1px 1px 0 1px;
    border-radius: 6px 6px 0 0;
}

/* Bottom button (vertical) */
.linked.vertical .entry:last-child,
.linked.vertical .button:last-child,
.linked.vertical .button:active:last-child,
.linked.vertical .button:active:hover:last-child,
.linked.vertical .button:insensitive:last-child {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 6px 6px;
}

/* Linked single button (vertical) */
.linked.vertical .entry:only-child,
.linked.vertical .button:only-child,
.linked.vertical .button:active:only-child,
.linked.vertical .button:active:hover:only-child,
.linked.vertical .button:insensitive:only-child {
    border-radius: 6px;
    border: 1px solid @border;
}

/* Linked buttons on primary toolbars */

/* Middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .button.raised.linked:backdrop,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:insensitive,
.primary-toolbar .linked .button:backdrop,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar .button:backdrop:active,
.inline-toolbar.toolbar .button:backdrop:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button,
.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:insensitive {
    border-width: 1px 0 1px 0;
    border-radius: 0;
}

/* Leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .button.raised.linked:backdrop:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:insensitive:first-child,
.primary-toolbar .linked .button:backdrop:first-child {
    border-radius: 6px;
    border-width: 1px 0 1px 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar .button:backdrop:first-child,
.inline-toolbar.toolbar .button:backdrop:active:first-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:insensitive {
    border-radius: 0;
    border-width: 1px 0 1px 1px;
}

/* Rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .button.raised.linked:backdrop:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:insensitive:last-child,
.primary-toolbar .linked .button:backdrop:last-child {
    border-radius: 6px;
    border-width: 1px 1px 1px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar .button:backdrop:last-child,
.inline-toolbar.toolbar .button:backdrop:active:last-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:insensitive {
    border-radius: 0;
    border-width: 1px 1px 1px 0;
}

/* Single button */
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:active:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:insensitive {
    border-width: 1px;
    border-radius: 6px;
}

/* Special-case GtkMenuToolButton, since it's a GtkToolButton, but it
 * has a box inside to pack the button and the actual menu */
.inline-toolbar.toolbar GtkMenuToolButton .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:last-child {
    border-radius: 6px;
    border-width: 1px 0 1px 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:insensitive:first-child {
    border-radius: 6px;
    border-width: 1px 0 1px 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:insensitive:last-child {
    border-radius: 6px;
    border-width: 1px 1px 1px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Vertical inline toolbars */

/* Middle button */
.inline-toolbar.toolbar.vertical .button,
.inline-toolbar.toolbar.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical .button:backdrop:active,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:insensitive {
    border-width: 0 1px 0 1px;
    border-radius: 0;
}

/* Topmost button */
.inline-toolbar.toolbar.vertical .button:first-child,
.inline-toolbar.toolbar.vertical .button:active:first-child,
.inline-toolbar.toolbar.vertical .button:insensitive:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:insensitive {
    border-radius: 6px;
    border-width: 1px 1px 0 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Bottommost button */
.inline-toolbar.toolbar.vertical .button:last-child,
.inline-toolbar.toolbar.vertical .button:active:last-child,
.inline-toolbar.toolbar.vertical .button:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:insensitive {
    border-radius: 6px;
    border-width: 0 1px 1px 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Single button */
.inline-toolbar.toolbar.vertical .button:only-child,
.inline-toolbar.toolbar.vertical .button:active:only-child,
.inline-toolbar.toolbar.vertical .button:insensitive:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:insensitive {
    border-width: 1px;
    border-radius: 6px;
}

*:link,
*:visited {
    color: @selection;
}

GtkLinkButton.button,
GtkLinkButton.button:active {
}

.button .separator { 
    color: shade(@internal_element, 1.30);
}