/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Stark GTK theme.
*
* The Stark GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Stark GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Stark GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    border-radius: 0px;
    font: bold;
}

/* Normal */
GtkSwitch.trough {
    color: @selection;
    border-radius: 0px;
    border: 1px solid @border;
    background-color: @background;
    box-shadow:none;
}

GtkSwitch.slider {
    border-radius: 0px;
    border: 1px solid @border;
    background-color: @background;
}


/* Active */
GtkSwitch.slider:active {
    border: 1px solid @border;
    background-color: @background;
}

GtkSwitch.trough:active {
    color: white;
    border: 1px solid @border;
    background:@selection;
}


/* Insensitive */
GtkSwitch.slider:insensitive {
    border-radius: 0px;
    color: @insensitive_text;
    border: 1px solid @insensitive_border;
    background-color: @insensitive_background;
}

GtkSwitch.trough:insensitive,
GtkSwitch.trough:active:insensitive {
    border-radius: 0px;
    color: @insensitive_text;
    border: 1px solid @insensitive_border;
    background-color: @insensitive_background;
}

/* backdrop */
GtkSwitch.slider:backdrop {
    border-radius: 0px;
    color: @backdrop_text;
    border: 1px solid @backdrop_border;
    background-color: @backdrop_background;
}

GtkSwitch.trough:backdrop,
GtkSwitch.trough:active:backdrop {
    border-radius: 0px;
    color: @backdrop_text;
    border: 1px solid @backdrop_border;
    background-color: @backdrop_background;
}